.ListPage {
  flex-grow: 1;
  flex-basis: 0;
  padding: 30px;
}

.list-screen {
  height: 100%;
  overflow: scroll;
  background-color: #FFF;
}

ul.dex-list {
  list-style: none;
  list-style-type: none;
  margin: 0 !important;
  padding: 10px 0 50% !important;
}

.list-item {
  display: flex;
  padding: 8px 0;
  margin: 0 20px;
  border-bottom: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}

.list-item:hover {
  background-color: rgb(224, 224, 224);
}

.list-item > .item-num {
  width: 10%;
  text-align: end;
  margin-right: 20px;
}

.list-item > .item-name {
  width: 40%;
}